*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #003168;
  --clr-accent: #7f0000e0;
  --clr-text: #4a5a6b;
  --clr-border: #dee2e6;
  --clr-white: #ffffff;
  --clr-black: #000000;
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  color: var(--clr-text);
}
 
/* View Admin Page */
.app {
  display: flex;
}

.app-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 250px;
  height: 100vh;
  background-image: url('@assets/images/bg-sidebar.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(-250px);
  transition: transform .5s ease-in-out;
}

.app-sidebar.open {
  transform: translateX(0);
}

.sidebar-brand {
  padding: 20px;
}

.sidebar-brand img {
  width: 100%;
}

.app-sidebar .nav-menu {
  padding: 10px;
}

.app-sidebar .sidebar-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.app-sidebar .sidebar-menu li {
  padding: 8px 10px;
}

.app-sidebar .sidebar-menu .nav-header {
  font-weight: 700;
  color: var(--clr-accent);
}

.app-sidebar .sidebar-menu .nav-item {
  border-radius: 4px;
  transition: background-color .2s ease-in-out  ;
}

.app-sidebar .sidebar-menu .nav-item:hover {
  background-color: #605d1a33; 
}

.app-sidebar .sidebar-menu .nav-item a {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  color: var(--clr-primary);
}

.app-wrapper {
  margin-left: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  transition: margin-left .5s ease-in-out;
}

.app-sidebar.open + .app-wrapper {
  margin-left: 250px;
}

.app-header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-border);
}

.app-main {
  padding: 10px;
  flex-grow: 1;
}

/**
* Auth
*/

.app-auth {
  padding: 0 4vw;
  display: flex;
  row-gap: 30px;
  align-items: center;
  flex-direction: column;  
  height: 100vh;
  max-height: 100vh;
  background-image: url('@/assets/images/bglogin.png');
  background-size: cover;
  background-position: center;   
  background-repeat: no-repeat;
}

.auth-banner {
  margin-top: 120px;
}

.auth-banner img {
  width: auto;
  max-height: 200px;
}



/* 
* Reponsive
*/

@media (max-width: 1024px) {

}

@media (max-width: 991px) {
  .auth-banner .long-left,
  .auth-banner .long-right {
    display: none;
  }
}

@media (max-width: 767px) {
  .app-auth {
    justify-content: center;
  }

  .auth-banner {
    margin-top: 0;
  }

  .auth-banner .logo {
    width: 100%;
  }
}