*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #003168;
  --clr-accent: #7f0000e0;
  --clr-text: #4a5a6b;
  --clr-border: #dee2e6;
  --clr-white: #ffffff;
  --clr-black: #000000;
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  color: var(--clr-text);
}
 
/* View Admin Page */
.app {
  display: flex;
}

.app-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 250px;
  height: 100vh;
  background-image: url('@assets/images/bg-sidebar.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(-250px);
  transition: transform .5s ease-in-out;
}

.app-sidebar.open {
  transform: translateX(0);
}

.sidebar-brand {
  padding: 20px;
}

.sidebar-brand img {
  width: 100%;
}

.app-sidebar .nav-menu {
  padding: 10px;
}

.app-sidebar .sidebar-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.app-sidebar .sidebar-menu li {
  padding: 8px 10px;
}

.app-sidebar .sidebar-menu .nav-header {
  font-weight: 700;
  color: var(--clr-accent);
}

.app-sidebar .sidebar-menu .nav-item {
  border-radius: 4px;
  transition: background-color .2s ease-in-out  ;
}

.app-sidebar .sidebar-menu .nav-item:hover {
  background-color: #605d1a33; 
}

.app-sidebar .sidebar-menu .nav-item a {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  color: var(--clr-primary);
}

.app-wrapper {
  margin-left: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  transition: margin-left .5s ease-in-out;
}

.app-sidebar.open + .app-wrapper {
  margin-left: 250px;
}

.app-header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-border);
}

.app-main {
  padding: 10px;
  flex-grow: 1;
}

.app-main__nav {
  padding: 16px 8px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.app-main__nav h2 {
  margin: 0;
}

.app-main__content {
  padding: 16px 8px;
}

.genealogy-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.genealogy-item {
  border-radius: 4px;
  border: 1px solid #dee2e6;
  box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .04);
}

.genealogy-item__thumb {
  padding: 28px;
}

.genealogy-item__thumb img {
  width: 100%;
}

.genealogy-item__content {
  padding: 20px;
}

.genealogy-item__title,
.genealogy-item__members,
.genealogy-item__generation {
  margin: 0;
  margin-bottom: 10px;
}

.genealogy-item__members,
.genealogy-item__generation {
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-size: 14px;
}

.genealogy-item__cta {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.genealogy-item__links {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.genealogy-item__links a {
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-size: 14px;
}

.genealogy-item__btns button {
  min-width: 0;
}

.genealogy-item__btns .MuiButton-icon {
  margin: 0;
}

/**
* Auth
*/

.app-auth {
  padding: 0 4vw;
  display: flex;
  row-gap: 30px;
  align-items: center;
  flex-direction: column;  
  height: 100vh;
  max-height: 100vh;
  background-image: url('@/assets/images/bglogin.png');
  background-size: cover;
  background-position: center;   
  background-repeat: no-repeat;
}

.auth-banner {
  margin-top: 120px;
}

.auth-banner img {
  width: auto;
  max-height: 200px;
}



/* 
* Reponsive
*/

@media (max-width: 1024px) {
  .genealogy-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  .auth-banner .long-left,
  .auth-banner .long-right {
    display: none;
  }

  .app-sidebar {
    display: none;
    width: 0;
    transform: translateX(-250px);
  }

  .app-wrapper {
    margin-left: 0 !important;
  }
}

@media (max-width: 767px) {
  .app-auth {
    justify-content: center;
  }

  .auth-banner {
    margin-top: 0;
  }

  .auth-banner .logo {
    width: 100%;
  }

  .genealogy-list {
    grid-template-columns: 1fr;
  }
}